mixin-container(margin-left-right)
  margin: 0 margin-left-right
mixin-display-flex-center(x = center)
  display: flex;
  justify-content: x;
  align-items: x;
mixin-display-flex-menu(x = space-between , y = center)
  display: flex;
  justify-content: x;
  align-items: y ;
mixin-boxModel()
  box-sizing: border-box;
  margin: 0;
  padding: 0;
