// Colores que se manejaran en el website
color-primario = rgb(39, 236, 195);
color-secundario = rgb(39, 236, 195);
color-terceario = rgb(39, 236, 195);
// Colores para la tipografia
color-claro = rgb(255, 255, 255);
color-claro-uno = rgba(255, 255, 255, .5)
color-oscuro = rgb(0, 0, 0);
// Tamaños de tipografia
small-font-size = .7em;
mediun-font-size = 1em;
xd-font-size = 1.5em;
xxd-font-size = 1.8em;
// Tamaños de margenes
margin-left-right = 4%;
// Tamaño del logo
anchoLogo = 180px;
altoLogo = 80px;
