-var lema = "Aporta al mundo con soluciones, dale la oportunidad a las energias renovables."
-var menu = ["INICIO", "QUIENES SOMOS", "SERVICIOS", "CONTÁCTO" ]
-var lenguage = ["SPA", "ENG"]
-var titulos__servicios = ["Diseño y Soluciones Energeticas", "Montajes", "Comercialización"]
-var parrafos__servicios = ["Entre nuestros servicios más rankiados se encuentra la consultoria y diseño de soluciones a nivel industrial y comercial", "Montajes", "Comercialización", "Entre nuestros servicios más rankiados se encuentra la consultoria y diseño de soluciones a nivel industrial y comercial", "Montajes", "Comercialización", "Entre nuestros servicios más rankiados se encuentra la consultoria y diseño de soluciones a nivel industrial y comercial", "Montajes", "Comercialización"]


//- if lenguage[0] = "SPA"
//- 
//- else

  
//- mixin caja(imagen, titulo, contenido)
//-   .caja
//-     .caja__imagen: img(src="images/"+imagen)
//-     .caja__contenido
//-       h3= titulo
//-       p= contenido
