footer
  div.footer
    div.footer__contacto
      div.footer__contacto__telefono
          div.contenedor__icon
            span.icon-call 
          div.contenedor__data
            p (57)-311-268-1981
      div.footer__contacto__ubicacion
          div.contenedor__icon
            span.icon-location 
          div.contenedor__data
            p Carrera 138#17D-65
      div.footer__contacto__correo
          div.contenedor__icon
            span.icon-mail 
          div.contenedor__data
            p reweoptim@gmail.com
    div.footer__aliados
      h4 Aliados
      div.footer__aliados--ferresolda
        img(src="./images/image.jpg" alt="Ferresolda")
        img(src="./images/image.jpg" alt="Ferresolda")
        img(src="./images/image.jpg" alt="Ferresolda")
        img(src="./images/image.jpg" alt="Ferresolda")
    div.footer__map
  div.piedepagina
  
