footer
  div.footer
    div.footer__contacto
      div.footer__contacto__telefono
          div.contenedor__icon
            span.icon-call 
          div.contenedor__data
            p (57)-311-268-1981
      div.footer__contacto__ubicacion
          div.contenedor__icon
            span.icon-location 
          div.contenedor__data
            p Carrera 138#17D-65
      div.footer__contacto__correo
          div.contenedor__icon
            span.icon-mail 
          div.contenedor__data
            p reweoptim@gmail.com
    div.footer__aliados
      h4 Aliados
      div.footer__aliados--ferresolda
        img(src="./images/image.jpg" alt="Ferresolda")
        img(src="./images/image.jpg" alt="Ferresolda")
        img(src="./images/image.jpg" alt="Ferresolda")
        img(src="./images/image.jpg" alt="Ferresolda")
    div.footer__map
      iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3976.902039104321!2d-74.09951305017827!3d4.611551343692997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1587337450207!5m2!1ses-419!2sco"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
  div.piedepagina
    div.piedepagina__contenedor
      h5  &#169; 2020 RewOptim
      h5  Though by Ing H Diáz
  
