head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  meta(name="author" content="Hugo Andrés Díaz Bernal")
  meta(name="description" content="La energia tanto en colombia como en el mundo es un recurso que  se relaciona con el progreso, por tal motivo el uso apropiado es de vital importancia, en ReweOptim Energy contamos con soluciones que nos permiten hacer gestion de la eficiencia energetica en el pais")

  link(rel="stylesheet" href="./css/style.css")
  link(rel="stylesheet" href="./fonts/style.css")

  script(type="text/javascript" src="./script/jquery-3.4.1.min.js")
  script(type="text/javascript" src="./script/script.js" charset="utf-8")

  title RenewOpti Energy
