// Tipografia usada en el proyecto actual

@font-face {
  font-family: fuente-numero-1
  src: url(../fuentes/Assistant-Bold.ttf);
}
@font-face {
  font-family: fuente-numero-2
  src: url(../fuentes/Assistant-ExtraBold.ttf);
}

@font-face {
  font-family: fuente-numero-3
  src: url(../fuentes/Assistant-ExtraLight.ttf);
}

@font-face {
  font-family: fuente-numero-4
  src: url(../fuentes/Assistant-Light.ttf);
}

@font-face {
  font-family: fuente-numero-5
  src: url(../fuentes/Assistant-Regular.ttf);
}

@font-face {
font-family: fuente-numero-6
src: url(../fuentes/Assistant-SemiBold.ttf);
}

@font-face {
font-family: fuente-numero-7
src: url(../fuentes/Lobster-Regular.ttf);
}

@font-face {
font-family: fuente-numero-8
src: url(../fuentes/Ubuntu-Bold.ttf);
}

@font-face {
font-family: fuente-numero-9
src: url(../fuentes/Ubuntu-BoldItalic.ttf);
}

@font-face {
font-family: fuente-numero-10
src: url(../fuentes/Ubuntu-Italic.ttf);
}
